<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Stupid Chat Bot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="icon" href="https://img.icons8.com/fluency/96/000000/chatbot.png">
    <script type="text/javascript">
        function clearResponse() {
            document.getElementById('response').value = '';
        }
        function checkName() {
            var name = document.getElementById('name').value;
            var textLabel = document.getElementById('textLabel');
            var textMessage = document.getElementById('textMessage');
            if (name == '') {
                textLabel.style.display = 'none';
                textMessage.style.display = 'none';
            } else {
                textLabel.style.display = 'block';
                textMessage.style.display = 'block';
            }
        }
    </script>
</head>
<body onload="checkName()">
<div class="container">
    <div class="jumbotron text-center bg-success text-white">
        <h3>Welcome to the Stupid Chat-Bot</h3>
        <span class="align-bottom float-right">v1.0</span>
    </div>
    <div class="container">
        <form th:action="@{/chat/web}" th:object="${message}" method="post">
            <div class="row form-group">
                <div class="col-3 font-weight-bold">Name</div>
                <div class="col-9"><input id="name" oninput="clearResponse()" type="text" class="form-control" th:field="*{name}"/></div>
            </div>
            <div class="row form-group">
                <div id="textLabel" class="col-3 text-wrap font-weight-bold">Enter your message</div>
                <div id="textMessage" class="col-9"><textarea id="text" oninput="clearResponse()" class="form-control" th:field="*{text}"></textarea></div>
            </div>
            <div class="row form-group">
                <div class="col-3 font-weight-bold">Bot Says</div>
                <div class="col-9"><textarea id="response" class="form-control" th:field="*{response}" disabled></textarea></div>
            </div>
            <div class="row form-group">
                <div class="col"><input class="btn btn-outline-success" type="submit" value="Submit"/></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>